.profilePage{
  width: 100%;
  height: 100%;
  position: relative;
}
.wrap{
  width: 100%;
  box-sizing: border-box;

  margin: 0 auto;
}
.userInfo{
  background: #fff;
  border-bottom: 2px solid #E2EAF5;
  margin-top: 45px;
}
.info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 42px;
  padding-top: 34px;
}
.info img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 16px;
}
.info p:first-of-type{
  font-size:22px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:#050505;
  line-height:30px;
}
.info p:last-of-type{
  font-size:11px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:#676767;
  line-height:16px;
}
.userInfo .tab{
  margin-top: 62px;
  display: flex;
  padding-left: 16px;
}
.userInfo .tab button{
  display: flex;
  width: 102px;
  height: 43px;
  font-size:20px;
  font-family:ArialRoundedMTBold;
  color:#3D4FD5;
  line-height:23px;
  background: #fff;
  margin-right: 63px;
  justify-content:center;
  align-items: center;
  position: relative;
}
.userInfo .tab .selected::after{
  content: '';
  width: 102px;
  height: 4px;
  background: #3D4FD5;
  position: absolute;
  left:0;
  bottom: -2px;
}
.audience{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 95px;
}
.audience h4{
  text-indent: 19px;
  font-size:24px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:#050505;
  line-height:33px;
  text-align: left;
}
.audience .nums{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.audience .num{
  width:31.56%;
  background:#fff;
  border-radius:10px;
  border:1px solid #E9EAEC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 60px;
}
.audience .num img{
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}
.audience .num p{
font-size:48px;
font-family:'Gill Sans Bold';
font-weight:bold;
color:rgba(5,5,5,1);
line-height:55px;
}
.audience .num  span{
  font-size:16px;
  font-family:PingFangSC-Semibold;
  font-weight:600;
  color:#676767;
  line-height:22px;
}
.charts{
  width: 100%;
}
.charts .card{
  width: 100%;
  height: 600px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #E9EAEC;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius:10px;
}
.charts  .half{
  float: left;
  width: 48%;
}
.clearfix::after{
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
    opacity: 0;
  }
